@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

        <h1>Exemplo Web Page com Razor</h1>
        Data e Hora do Servidor: @DateTime.Now

    </div>
</body>
</html>
