@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
       <b>Cabeçalho da Página!!!!</b>
        <br/><br />
    </div>
</body>
</html>
