@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    @RenderPage("Cabecalho.cshtml")

    <div>
        Esta é a página principal!!!
    </div>

    @RenderPage("Rodape.cshtml")

</body>
</html>
