@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <br><br />
        <b>Rodapé da Página</b><br />
        Hoje é @DateTime.Now.ToString("dd/MM/yyyy")
    </div>
</body>
</html>
